extends layout
block content
  section

    article
      button(id="boka") Hantera bokning
      button Hantera kurser

  section
    article
      p(id="text") Ändra innehåll
      button Första sidan
      button Privat coaching

    article
      button Om mig
      button Policy


