html
head
  titleExpress
  link(rel="stylesheet" href="/stylesheets/style.css")

body
    header
        img(id="doglogo" src="../images/logo.png")
        div(id="logindiv")
            form
                label Användarnamn:
                input(id="user")
                label Lösenord:
                input(id="password")
                button(id="loginbtn" class="logbtn") Logga in



