body {
padding: 0;
margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
header{
height: 20rem;

}
#logindiv{
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;
  margin-top: 10rem;
  padding: 2rem;
  background-color: #A6A7AA;

}
.loginbtn{
width: 5rem;
margin-top: 1rem;
}
label, input{
  margin-bottom: 0.2rem;
}
