@tailwind base;
@layer base {

  h1{
    @apply text-3xl leading-9 font-bold my-4
  }
  h2{
    @apply text-2xl leading-8 font-bold my-3
  }
  h3{
    @apply text-xl leading-7 font-bold my-2
  }
  h4{
    @apply text-lg leading-7 font-bold my-2
  }

  h5{
    @apply text-base leading-6 font-bold 
  }
  span{
    @apply text-base leading-6 
  }
  section{
    @apply m-4 md:mx-24 md:my-12
  }
  
}

@tailwind components;
@tailwind utilities;
@layer components {
    .links {
      @apply p-2  hover:bg-primary-dark;
    }
    .smalimg {
      @apply w-24 md:w-72;
    }
    button {
      @apply bg-primary w-72 md:w-96 p-2 text-left my-2 md:my-4 h-10 md:h-14 font-bold
    }
    .line{
      @apply bg-black w-6 h-1 rounded z-10 flex flex-col m-1
    }
    
    
  }